
body{
    background-color: pink;
}

div.contentWrapper{
    width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

    .box {
        width: 400px;
        height: 300px;
        text-align: center;
        padding: 35px 0px;
        background-color: rgb(255, 152, 169);
        border-radius: 15px;
        border: 3px solid rgb(0, 255, 242);
        box-shadow: 0px 0px 10px 1px black;
        transition: all 0.3s;

        &:hover{
            background-color: pink;
            transform: scale(1.1);

            h1{
                color: rgb(255, 124, 146);
            }
        }
    
        h1{
            color: pink;
            font-weight: 900;
            transition: all 0.3s;
        }
    
    }

}

div.containerWrapper2{

    div.contentWrap{
        text-align: center;
    }

}



div#productEffect{
    overflow: hidden;
    transition: all 0.3s;
    &:hover{
        img{
            transform: scale(1.08);
        }
    }

    img{
        transition: all 0.3s;
    }
}



